body {
	font-size: 16px;
	font-family: 'Raleway', 'Montserrat', sans-serif;
}

header,
footer {
	background-color: #7da9b3;
    color: white;
	padding: 10px;
}

p {
    font-family: 'Nunito Sans', 'Montserrat', sans-serif;
}

/******************* HEADER *********************/

.flex-header {
    display: flex;
	flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
	display: flex;
	margin-left: 1rem;
    margin-bottom: 1rem;
}

.logo img {
	width: 100px;
	height: auto;
}

.heading {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.heading h1, h2 {
	font-size: 1.5rem;
    margin: 0;
}
.heading h1 {
    margin-top: 10px;
}

.social {
    display: flex;
    padding: 1rem;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 5px;
    padding: 1%;
    background-color: #94bbc3;
}

/*************** DISCOVER PAGE HEADER ***************/

#head {
    text-align: center;
}

/******************* NAVIGATION *********************/

/*nav button*/
header div button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(56, 55, 55);
}
nav {
    background-color: #eee;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    text-align: center;
}
nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

#msg-box {
    display: none;
    text-align: center;
    margin: 15px;
    background-color: #05668D;
}

/********************** MAIN **********************/

main {
    margin-top: 20px;
    margin-bottom: 20px;
}
main section {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #eee;
    margin: 5px;
    padding: 1rem;
    height: auto;
}

.s1, .s2 {
    border: 1px solid rgba(0,0,0,0.2);
    margin: 5px;
    padding: 1rem;
}

main section:nth-child(6) {
    display: none;
}

.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* align-content: center;
    justify-content: center; */
    position: relative;
    padding: 0%;
}
.hero-img {
    grid-area: 1 / 1 / 2 / 2;
}
.hero-image {
    display: grid;
    min-width: 350px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-text {
    grid-area: 1 / 1 / 2 / 2;
    color: #f2f1f0;
}

/* .hero-img {
    Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read
    background-image: url("../images/Optimized-IMG_4065.JPG");
  
    Set a specific height
    height: auto;
  
    Position and center the image to scale nicely on all screens
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */
  
main section button {
    margin: .2rem 2vw;
    background: transparent;
    border: 1px solid #f2f1f0;
    font-size: 1rem;
    color: #f2f1f0;
    position: absolute;
    right: 5px;
    bottom: 10px;
}

/************* DISCOVER PAGE MAIN **************/
.farm-images {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.all-img {
    margin: 2%;
    border-radius: 10px;
}

.des-img {
    text-align: center;
    max-width: 400px;
}

/******************* JOIN PAGE MAIN *******************/
form {
    margin: 40px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #eee;
}

.mlevel {
    margin: 40px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #eee;
}

form input:required {
    border-left: red solid 6px;

}

form input:required:valid {
    border-left: green solid 6px;
    
}

input {
    margin-bottom: 20px;
}

label, input {
    display: block;
    font-size: 1em;
}

textarea {
    height: 150px;
    width: 300px;
}

#radio label, #radio input {
    display: inline;
}

#submit {
    background-color: #05668D;
    border-color: white;
    color: white;
}

/******************* THANKYOU PAGE *******************/
#thanks {
    margin: 40px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #eee;
    text-align: center;
}


/******************* FOOTER *******************/

footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.logo-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-footer img {
	width: 100px;
	height: auto;
    margin-bottom: .5rem;
}

.foot {
    border-top: 1px solid;
}


/************** MEDIUM VIEW ***************/
@media (min-width: 700px) {

    .flex-footer {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
	.left {
        display: flex;
        flex-direction: column;
        margin-left: .5rem;
    }
    .right {
        display: flex;
        flex-direction: column;
        margin-left: .5rem;
    }

    main {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    main section:nth-child(6) {
        display: grid;
    }
    .hero {grid-area: 1 / 1 / 2 / 5;}
    .news {grid-area: 2 / 1 / 3 / 5;}
    .spotlights {grid-area: 3 / 1 / 4 / 5;}
    .join {grid-area: 4 / 1 / 5 / 5;}
    .event {grid-area: 5 / 1 / 6 / 4;}
    .weather {grid-area: 5 / 4 / 6 / 5;}

    .spotlights {
        display: grid;
        grid-template-columns: auto auto;
    }

    /**************** JOIN PAGE *****************/
    .formflex {
        display: flex;
        justify-content: center;
    }

    form {
        margin-right: 20px;
    }

    .mlevel {
        margin-left: 20px;
    }

    /**************** THANKYOU PAGE *****************/
    #thanks {
        display: block;
    }
}

@media (min-width: 800px) {
    /************* DISCOVER PAGE *****************/
    .farm-images {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        justify-items: center;
        grid-gap: 0rem;
    }

    .all-img:hover {box-shadow: 0 0 50px #333;}
}

/****************** LARGE VIEW *********************/
@media (min-width: 900px) {

	header div button {display: none;}

    main section {height: auto;}

    main section button {
        right: 50px;
        bottom: 50px;
    }
    
    nav ul#primaryNav {
        display: flex;
        border-left: 1px solid rgba(0,0,0,0.3);
        justify-content: center;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
    }

    nav ul li:first-child {
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    main {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: 200px auto 140px auto 50px auto 50px;
    }

    .hero {grid-area: 1 / 2 / 5 / 6;}
    .event {grid-area: 1 / 1 / 3 / 2;}
    .weather {grid-area: 3 / 1 / 5 / 2;}
    .join {grid-area: 5 / 1 / 8 / 2;}
    .news {grid-area: 5 / 2 / 8 / 6;}

    .spotlights {grid-area: 1 / 6 / 8 / 7;
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: auto;}

}

@media (min-width: 1200px) {
    /************* DISCOVER PAGE *****************/
    .farm-images {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        justify-items: center;
    }
}